.home { 
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_container {
    width: auto;
    margin-left: 30px;
}

.header_container h1 {
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 70px;
    /* element level font family */
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.header_container p {
    margin-top: 15px;
    padding: 0;
    font-size: 40px;
    font-weight: light;
    color: black;
}

.header_container button {
    background-color: #121619;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 180px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.header_container button:hover {
    background-color: #07090a;
    cursor: pointer;
    transition: 0.3s ease-in;
}

/* mobile view */

@media only screen and (max-width: 600px){
    .home {
        justify-content: center;
        align-items: center;
    }

    .header_container {
        margin-left: 0;
        border-radius: 10px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #121619;
        color: white;
    }

    .header_container h1 {
        font-size: 30px;
        height: 20px;
        margin: 20px 0px;
        color: white;
    }

    .header_container p {
        font-size: 20px;
        color: white;
    }

    .header_container button {
        background-color: white;
        color: #121619;
        margin-bottom: 30px;
    }

    .header_container button:hover {
    background-color: white;
    cursor: pointer;
    transition: 0.3s ease-in;
}
}